
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/*----------------------------------------------- shared style----------------------------------------- */
 
.secondary-bg{
  background-color: #FED3B5;
  broder-radius: 30px;
  justify-content: justify;
}

.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #181818;
}
.btn-primary{
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px 30px;
  border: none;
  color: #fff;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: rgba(24, 24, 24, 1);
  text-align: center;
}
.section-description{
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
}

/*---------------------------------- nav style------------------------------ */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

.nav-title {
  font-weight: 800;
  font-size:40px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin: 20px;
}
nav li a{
  text-decoration: none;
  font-size: 15px;
}

/* ----------------------------banner style-------------------------------- */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 161px;
}
.banner-greetings{
  font-weight: semibold;
}
.banner-content{
  max-width: 580px;
}
.banner-greetings{
font-size: 45px;
font-weight: 600;
}

.banner-title {
  color: 1E1E1E;
  font-weight: bold;
  font-size: 50px;
}
.bnner-description{
  font-size: 8px;
  color: #757575;
}

/* -----------------------------main--------------------------- */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* -------------------about----------------------- */

.about{
padding: 100px 120px;
margin-top: 130px;
}
/* ----------------------about-items----------------------- */
.about-items{
  display: flex;
  justify-content: space-between;
}

/* ----------------------skill section style---------------------- */

.skills-container{
  display: flex;
  gap: 24px;
  margin-top:  100px;
}

.skill{
  padding: 30px;
  box-shadow: 0px 2px 20px 0px;
}

/* ---------------------------------resume section style----------------------- */
.resume-container{
  display: flex;
  gap: 20px;
}
.experience-description, .experience-sub-title{
  color: rgba(163, 163, 163, 1);
  font-size: 16px;
}

.resume{
  padding-top: 50px;
  margin-bottom: 50px;
  
}
.resume h2{
  text-align: center;
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.text-center{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* -------------------footer sytle------------------ */
footer {
  padding: 50px 50px;
  display: flex;
  gap: 10px;
}
.footer-column {
width: 100%;
}
footer input[type="text"], footer input[type="email"], footer input[type="submit"], footer textarea {
  height: 35px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 24px;
}